/* Arquivo gerado automaticamente */
:root {
    --prev-next-opacity: 0.5;
}
#habilidades{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #333;
}
#habilidades h2{
    margin: 0 auto;
    font-size: 2rem;
}
.carrossel-container {
    width: 100%;
    height: 500px;
    perspective: 200px;
    overflow: hidden;
    background-color: #33333354;
}
.container-habilidades{
    display: flex;
    width: 100%;
    border: 1px solid #333;
    justify-content: space-evenly;
    padding: 10%;
}
.carrossel {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform: translateZ(-200px);
    gap: 20px;
}

.slide {
    position: absolute;
    width: 500px;
    left: 50%;
    opacity: var(--prev-next-opacity);
    top: 10%;
    transition: transform 1s, opacity 1s;
    box-shadow: #222 10px 10px 10px;
}


.slide img {
    width: 500px;
    height: 400px;
    border-radius: 5px;
    object-fit: contain;
    background-color: #222;
}


@media screen and (max-width: 1000px){
    .carrossel-container{
        width: 90%;
    }
    .carrossel{
        width: 100%;
    }
    .slide{
        width: 300px;
        opacity: 1;
        object-fit: cover;
    }
    .slide img{
        width: 100%;
    }
}



.slide .info {
    top: 0;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    height: 100%;
    padding: 10px;
    color: #fff;
    filter: drop-shadow();
    
}
.slide .info h2 {
    margin-bottom: 10px;
    font-size: 2rem;
    text-align: left;
    width: 200px;
    text-align: center;
    padding: 10px;
    background-color: #ccc;
    color: #000;
    box-shadow: 0 0 10px #000;
}


.slide.active {
    transform: translateX(-50%) translateZ(200px);
    opacity: 1;
}

.slide.prev {
    transform: translateX(-150%) translateZ(100px);
    opacity: var(--prev-next-opacity);
}

.slide.next {
    transform: translateX(50%) translateZ(100px);
    opacity: var(--prev-next-opacity);
}

.prButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

button.anterior {
    left: 10px;
}

button.proximo {
    right: 10px;
} 
    



.habilidades-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    flex-wrap: wrap;
}

.habilidades-icons img {
    width: 200px;
    height: 200px;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    box-shadow: 0 5px 5px #000;
    object-fit: cover;
}
