@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

/* Cabeçalho */
#header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 10px;
    background: linear-gradient(#333, #000);
    color: #fff;
    flex-wrap: wrap;
}
#header h1{
    background-color: #000;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #ccc;
}

#header .btn-button{
    display: none;
    background-color: #ccc;
    padding: 5px;
    border-radius: 5px;
}
#header .btn-button:hover{
    background-color: #fff;
}

.btn-button img{
    width: 20px;
    height: 15px;
}

.navbar{
    display: flex;
    gap: 15px;
}
.nav-link{
    text-decoration: none;
    color: #fff;
}
.nav-link:hover{
    color: #59e10a;
}


/* Alterando os pontos de interrupção */
@media screen and (max-width: 600px) {
    #header .btn-button {
        display: block;
    }
    .navbar {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #header h1 {
        text-align: center;
        font-size: 1.2rem;
    }
    .nav-link{
        margin: 5px;
    }
}

@media screen and (min-width: 601px) {
    #header .btn-button {
        display: none;
    }
    .navbar {
        display: flex;
    }
    #header h1 {
        text-align: center;
    }
}



/* Container Principal da Pagina */
#main-container{
    height: 100vh;
    background: linear-gradient(#40404E, #9494B4);
    background: linear-gradient(#212121, #878787);
    background: linear-gradient(#fff, #ccc);
}
